
@model PierreTreats.Models.Flavor

<h4>Add a new Flavor</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FlavorDescription)
    @Html.TextBoxFor(model => model.FlavorDescription)

    @Html.Label("Select a Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Add new flavor" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all flavors", "Index")</p>